{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1>Votre panier</h1>
    </div>
    {% if  items | length >0  %}
        <table class="table"> 
          <thead>
             <tr>
             <th>Produit</th>
             <th>Prix </th>
             <th>quantité</th>
             <th>Prix finale</th>
             <th></th>
             </tr>
          </thead>
          <tbody>
          {% for item in items %}
              <tr>
              <td>{{item.produit.titre}} </td>
              <td>{{item.produit.prix}} </td>
              <td>{{item.quantity}}</td>
              <td>{{item.produit.prix * item.quantity}}</td>
              <td> <a href="{{ path('cart_remove', {'id': item.produit.id}) }}" class=" btn btn-danger">
            <i class="far fa-trash-alt"></i>
              </a></td>
              </tr>
          {% endfor %}
          </tbody>
           <tfoot>
               <tr>
                  <td colspan="3" class="text-right"> Total : </td>
                  <td>  {{total}}     </td>
                  <td>      </td>
               </tr>
           </tfoot>
        </table>
    {% else %}
          <p>Surprise, c'est vide !</p>
    {% endif %}
  
{% endblock %}