{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    
 <div class="bg-light p-3">
        <h1>Les produits</h1>
      </div>
     <div class="row row-cols-1 row-cols-md-3 g-4">
        
            {% for produit in produits %}
              <div class="col"> 
                <div class="card" >
                   <div style=" height: 250px; width: 100%;">
                    <img class="card-img-top" src="{{ asset('/uploads/'~produit.images.first.name) }}" alt="Card image cap" style=" height: 250px">
                    </div>
                 <div class="card-body">
                    <h5 class="card-title">{{ produit.titre}}</h5>
                    <p class="card-text">{{ produit.description }}</p>
                 </div>
                 <ul class="list-group list-group-flush">
                  <li class="list-group-item">id: {{ produit.id }}</li>
                 <li class="list-group-item">prix :{{ produit.prix }} </li>
                       <li class="list-group-item">Matiére :{{ produit.Matiers.designation }} </li>
                  </ul>
                 <div class="card-body">
              
                 </div>
                 <div class="card-footer" align="center" >

                  <a href="{{ path('produit_show', {'id': produit.id}) }}" class="btn btn-dark btn-lg"><i class="fas fa-eye"></i>Détail</a>
                  <a href="{{ path('cart_add', {'id': produit.id}) }}" class="btn btn-primary btn-lg"> <i class="fas fa-shopping-cart mr-1"></i> ajouter au panier</a>

                    {% if is_granted('ROLE_EDITOR') %}
                  <a href="{{ path('produit_edit', {'id': produit.id}) }}" class="btn btn-success btn-lg"><i class="fas fa-edit"></i>edit</a>
                  <a href="{{ path('produit_delete', {'id': produit.id}) }}" class="btn btn-danger btn-lg"><i class="fas fa-trash"></i>Suprimer</a>
                   {% endif %}
               
                 </div>
                 
               </div>
        </div>  
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %} 
        <br>
        <div class="pagination">
             {{ knp_pagination_render(produits) }}
        </div>     
{% endblock %}
